@using Nop.Core
@using Nop.Plugin.Misc.Suppliers.Models
@using Nop.Services.Common
@using Nop.Web.Framework.Infrastructure
@inject IWorkContext workContext
@inject IGenericAttributeService genericAttributeService
@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<TModel>

@model SupplierModel
@{
	const string hideInfoBlockAttributeName = "SupplierPage.HideInfoBlock";
	var customer = await workContext.GetCurrentCustomerAsync();
	var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);
}
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<section class="content">
	<div class="container-fluid">
		<div class="form-horizontal">
			<div class="row">
				<div class="col-md-12 clearfix">
					<div class="float-left">
						@await Component.InvokeAsync("SettingMode", new { modeName = "supplier-advanced-mode" })

					</div>
				</div>
			</div>
			<nop-cards id="supplier-cards">
				<nop-card asp-name="supplier-info" asp-icon="fas fa-info" asp-title="@T("Admin.Suppliers.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">
					@await Html.PartialAsync("~/Plugins/Misc.Suppliers/Views/SupplierAdmin/_CreateOrUpdate.Info.cshtml", Model)
				</nop-card>

			</nop-cards>
		</div>
	</div>
</section>